/** @format */
@import '~/styles/_variables';
.section {
  margin-top: 10rem;
  margin-bottom: 5rem;
  width: 100%;
}

.testimonial {
  width: 100%;
  height: 30rem;
  background: $color-accent;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  p {
    &:first-child {
      text-transform: uppercase;
      margin-bottom: 0.75rem;
      font-weight: 500;
    }
    &:nth-child(2) {
      font-style: italic;
    }
    font-family: $font-primarly;
    width: 60%;
    margin: 0 auto;
    font-size: 1.5rem;
  }
}
